.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 6rem;
    color: var(--text-secondary);
    border-top: 0.25rem solid var(--bg-dark-secondary);
  }