@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


  :root { /* root variable for consitency*/
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --transition-speed: 200ms ease;
  --bg-primary: hsl(0, 0%, 95%);
  --bg-secondary: hsl(0, 0%, 60%);
  --text-primary: hsl(0, 0%, 20%);
  --text-secondary: hsl(0, 0%, 40%);
  }
body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Nunito";
}
a {
  color: var(--text-primary);
  text-decoration: none;
}
.content {
  max-width: 90%;
  margin: 0 auto;
}
nav {
  margin: 1rem auto 6rem;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid var(--bg-secondary);
}
nav a {
  margin-left: 1rem;
}
nav .logo {
  font-size: xx-large;
  margin-right: auto;
} 